
.head_cart {
	color: #000;
	position: relative;
	border-radius: 90px;
	height: 58px;
    padding: 0 20px;
    flex-direction: row-reverse !important;
    position: absolute;
    bottom: 100%;
    left: 0;
}

.head_cart:hover {
	background: #fbbe7e
}

.head_cart_tx {
	font-size: 17px;
	min-width: 50px;
	text-align: center
}

.currency,
.woocommerce-Price-currencySymbol {
	font-size: .8em
}

.cart-icon {
	position: relative;
	margin-left: 6px
}

.cart-icon svg {
	display: block
}

.cart_count {
	width: 22px;
	height: 22px;
	background: #fff;
	border-radius: 90px;
	position: absolute;
	top: -4px;
	right: -7px;
	text-align: center;
	font-size: 15px;
	line-height: 22px;
	-webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .25)
}

.check_large .bt_tx .span.woocommerce-Price-amount amount,
.check_large .bt_tx span.woocommerce-Price-currencySymbol {
	display: inline-block
}
.head_cart:hover .cart-icon svg,
.head_cart:hover .cart_count {
	-webkit-animation: icon_cart .8s ease-in-out forwards;
	animation: icon_cart .8s ease-in-out forwards
}
.head_cart:hover .cart_count {
	-webkit-animation-delay: calc(2 * .05s);
	animation-delay: calc(2 * .05s)
}
.theme-twentytwenty .wc-block-components-product-price .woocommerce-Price-amount,
.theme-twentytwenty .wc-block-components-product-price__value,
.theme-twentytwenty .wc-block-grid__product-price .woocommerce-Price-amount,
.theme-twentytwenty .wc-block-grid__product-price__value {
	font-family: -apple-system, blinkmacsystemfont, Helvetica Neue, helvetica, sans-serif;
	font-size: .9em
}
.woocommerce ul#shipping_method .amount {
	font-weight: 700
}
.ease,
.ease a,
.ease input,
.ease path,
.ease polygon {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out
}

.ease:hover,
.ease a:hover,
.ease input:hover,
.ease:hover path,
.ease:hover polygon {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease
}
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center
}

@media only screen and (max-width :1060px) {
	.head_cart_tx {
		display: none
	}
	.head_cart {
		width: 54px;
		height: 54px;
		padding: 0;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}
	.cart-icon {
		margin: 0
	}
	.cart-icon svg {
		width: 32px;
		height: auto
	}
	.cart_count {
		top: -10px;
		right: -12px
	}
}