@font-face {
  font-family: "garamond-regular";
  font-weight: ttf otf woff woff2;
  src: url("../fonts/garamond-regular.eot?") format("eot"), url("../fonts/garamond-regular.woff2") format("woff2"), url("../fonts/garamond-regular.woff") format("woff"), url("../fonts/garamond-regular.ttf") format("truetype"), url("../fonts/garamond-regular.svg#garamond-regular") format("svg");
}
@font-face {
  font-family: "garmond-bold";
  font-weight: ttf otf woff woff2;
  src: url("../fonts/garmond-bold.eot?") format("eot"), url("../fonts/garmond-bold.woff2") format("woff2"), url("../fonts/garmond-bold.woff") format("woff"), url("../fonts/garmond-bold.ttf") format("truetype"), url("../fonts/garmond-bold.svg#garmond-bold") format("svg");
}
@font-face {
  font-family: "GothamBook";
  font-weight: ttf otf woff woff2;
  src: url("../fonts/GothamBook.eot?") format("eot"), url("../fonts/GothamBook.woff2") format("woff2"), url("../fonts/GothamBook.woff") format("woff"), url("../fonts/GothamBook.ttf") format("truetype"), url("../fonts/GothamBook.svg#GothamBook") format("svg");
}
@font-face {
  font-family: "GothamMedium";
  font-weight: ttf otf woff woff2;
  src: url("../fonts/GothamMedium.eot?") format("eot"), url("../fonts/GothamMedium.woff2") format("woff2"), url("../fonts/GothamMedium.woff") format("woff"), url("../fonts/GothamMedium.ttf") format("truetype"), url("../fonts/GothamMedium.svg#GothamMedium") format("svg");
}
@font-face {
  font-family: "Gotham-XLight";
  font-weight: ttf otf woff woff2;
  src: url("../fonts/Gotham-XLight.eot?") format("eot"), url("../fonts/Gotham-XLight.woff2") format("woff2"), url("../fonts/Gotham-XLight.woff") format("woff"), url("../fonts/Gotham-XLight.ttf") format("truetype"), url("../fonts/Gotham-XLight.svg#Gotham-XLight") format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  color: #434343;
}
@media screen and (max-width: 991px) {
  body {
    font-size: 18px;
  }
}

.invisible {
  visibility: hidden;
}

.nopadding {
  padding: 0;
}

.head_cart {
  display: inline-flex;
  background-color: #E9DDB8;
}
@media screen and (max-width: 991px) {
  .head_cart {
    display: none;
  }
}

.checkbox-wrapper {
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
.checkbox-wrapper__inner {
  position: relative;
  padding-right: 20px;
  display: inline-block;
  font-size: 16px;
  color: #434343;
  font-weight: 400;
}
.checkbox-wrapper__inner input {
  width: 14px;
  height: 14px;
  right: 0;
  position: absolute;
  opacity: 0;
  z-index: 11;
}
.checkbox-wrapper__inner input:checked + span::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 12px;
  border-bottom: 2px solid #463e24;
  border-right: 2px solid #463e24;
  top: -3px;
  left: 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-wrapper__inner span {
  width: 14px;
  height: 14px;
  right: 0;
  position: absolute;
  top: 5px;
  border: 1px solid #707070;
}

.centernav {
  position: relative;
  padding: 15px 50px;
}
.centernav .owl-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  top: 50%;
  left: 0;
  justify-content: space-between;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.centernav .owl-nav button {
  background-color: transparent !important;
  outline: none !important;
  line-height: 0 !important;
  margin: 0 !important;
}
.centernav .owl-nav button span {
  font-size: 40px;
  font-weight: 600;
  color: #E9DDB8 !important;
}

header {
  background-color: #ffffff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  box-shadow: 0 0 20px 0 #ccc;
}
@media screen and (min-width: 992px) {
  header {
    position: fixed;
    height: 120px;
  }
}
header .container {
  height: 100%;
}
@media screen and (min-width: 992px) {
  header .logoslide__mobile {
    display: none !important;
  }
}
header .logoslide__mobile .logomobile img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  header .logoslide__mobile .logomobile img {
    max-width: 70%;
  }
}
header .logoslide__mobile.innerpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logoslide__mobile.innerpage .backtopage {
  font-size: 16px;
  color: #434343;
}
header .logoslide__mobile.innerpage .backtopage a {
  text-decoration: none;
  color: inherit;
}
header .logoslide__mobile.innerpage .backtopage a i {
  margin-left: 5px;
}
header .logoslide__mobile.innerpage .logomobile img {
  margin-left: 0;
}
header .logoslide-desktop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 991px) {
  header .logoslide-desktop {
    display: none;
  }
}
header .logoslide-desktop img {
  max-width: 100%;
}
header .logoslide-desktop__mid {
  width: 400px;
  display: flex;
}
header .logoslide-desktop .logoitem {
  padding: 0 25px;
}
@media screen and (max-width: 1430px) {
  header .logoslide-desktop .logoitem {
    padding: 0 10px;
  }
}
header .logoslide-desktop__left .logoitem {
  position: relative;
}
header .logoslide-desktop__left .logoitem::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #DEDEDE;
}
header .logoslide-desktop__left .logoitem:first-child {
  padding-left: 0;
}
header .logoslide-desktop__left .logoitem:first-child::before {
  display: none;
}
header .logoslide-desktop__left .logoitem:last-child::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #DEDEDE;
}
header .logoslide-desktop__right .logoitem {
  position: relative;
}
header .logoslide-desktop__right .logoitem::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #DEDEDE;
}
header .logoslide-desktop__right .logoitem:first-child::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #DEDEDE;
}
header .logoslide-desktop__right .logoitem:last-child {
  padding-right: 0;
}
header .logoslide-desktop__left, header .logoslide-desktop__right {
  display: flex;
  flex: 1;
  align-items: center;
}
header .logoslide-desktop__left img, header .logoslide-desktop__right img {
  max-height: 100%;
}

.theme-btn, .article-box .card .card-body .btn {
  background-color: #E9DDB8;
  color: #ffffff;
  width: 100%;
  padding: 16px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 4px #E9DDB8;
  border-radius: 0px;
  cursor: pointer;
}
.theme-btn.withtime, .article-box .card .card-body .withtime.btn {
  display: flex;
  justify-content: space-between;
}

main section.fullheight {
  height: 100vh;
}
main section.fullheight::-webkit-scrollbar {
  display: none;
}
main section.fullheight.bannersection .container {
  position: relative;
}
@media screen and (max-width: 991px) {
  main section.fullheight.bannersection {
    height: auto;
  }
}
main section.fullheight.singlepagesection {
  position: relative;
}
@media screen and (min-width: 992px) {
  main section.fullheight.singlepagesection {
    overflow-y: hidden;
    background-image: linear-gradient(to bottom, #E9DDB8, #ffffff);
  }
  main section.fullheight.singlepagesection div {
    height: 100%;
  }
  main section.fullheight.singlepagesection div img {
    width: auto;
    min-height: 100%;
  }
}
@media screen and (max-width: 991px) {
  main section.fullheight.singlepagesection .container {
    max-width: 100% !important;
    padding: 0;
  }
}
main section.fullheight.singlepagesection .singlepagesection__wrapper {
  width: 50%;
}
@media screen and (max-width: 991px) {
  main section.fullheight.singlepagesection .singlepagesection__wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  main section.fullheight.singlepagesection .singlepagesection__wrapper {
    position: absolute;
    left: 50%;
    top: 120px;
    height: calc(100% - 120px);
  }
}
main section.fullheight.singlepagesection .singlepagesection__article {
  width: 100%;
  height: 100%;
  padding: 28px 100px 28px 0px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  main section.fullheight.singlepagesection .singlepagesection__article {
    width: 100%;
    padding: 28px;
    height: auto;
    background-image: linear-gradient(to bottom, #E9DDB8, #ffffff);
  }
}
main section.fullheight.singlepagesection .singlepagesection__article__header {
  padding: 25px 0;
  height: auto;
}
main section.fullheight.singlepagesection .singlepagesection__article__header .title {
  padding: 25px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  text-align: center;
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1;
}
main section.fullheight.singlepagesection .singlepagesection__article__footer {
  height: auto;
}
main section.fullheight.singlepagesection .singlepagesection__article__footer .title {
  color: #434343;
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin: 23px 0;
  font-size: 1.27em;
}
main section.fullheight.singlepagesection .singlepagesection__article__footer .title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E9DDB8;
}
main section.fullheight.singlepagesection .singlepagesection__article__footer .title span {
  display: inline-block;
  background: linear-gradient(to bottom, transparent, #fcfaf4, transparent);
  padding: 0 35px;
  position: relative;
  z-index: 1;
}
main section.fullheight.singlepagesection .singlepagesection__article__content {
  flex: 1;
  background-color: #ffffff;
  border: 1px solid #E3E3E3;
  padding: 25px 50px;
  overflow-y: auto;
  text-align: center;
}
@media screen and (max-width: 991px) {
  main section.fullheight.singlepagesection .singlepagesection__article__content {
    max-height: 400px;
  }
}
main section.fullheight.singlepagesection .singlepagesection__article__content::-webkit-scrollbar {
  width: 12px;
}
main section.fullheight.singlepagesection .singlepagesection__article__content::-webkit-scrollbar-track {
  border-radius: 12px;
  box-shadow: inset 0 0 6px #ccc;
}
main section.fullheight.singlepagesection .singlepagesection__article__content::-webkit-scrollbar-thumb {
  background-color: #E9DDB8;
  border-radius: 12px;
}
main section.fullheight.singlepagesection .singlepagesection__article__content::-webkit-scrollbar-thumb:hover {
  background-color: #ccc1a1;
}
main section.fullheight.singlepagesection .singlepagesection__article__content aside:nth-last-child(n+2) {
  margin-bottom: 30px;
}
main section.fullheight.singlepagesection .singlepagesection__article__content aside .title {
  font-weight: 800;
  font-size: 1.27em;
  display: inline-block;
  border-bottom: 1px solid #E9DDB8;
  padding: 10px 0 15px;
  margin-bottom: 15px;
}
main section.fullheight.singlepagesection .singlepagecarousel {
  position: relative;
}
main section.fullheight.singlepagesection .singlepagecarousel .owl-dots {
  position: absolute;
  bottom: 10px;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
main section.fullheight.singlepagesection .singlepagecarousel .owl-dots .owl-dot {
  outline: none;
}
main section.fullheight.singlepagesection .singlepagecarousel .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  background-color: #ffffff;
}
main section.fullheight.singlepagesection .singlepagecarousel .owl-dots .owl-dot.active span {
  background-color: #E9DDB8;
}
main section.bannersection {
  padding-bottom: 55px;
  overflow-y: auto;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./../images/bannerbg.png");
}
main section.bannersection .title {
  font-family: "garamond-regular";
  font-size: 3.63em;
  color: #ffffff;
  line-height: 1.2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  main section.bannersection .title {
    font-size: 2.22em;
    padding: 0 30px;
    line-height: 1.5;
  }
}
main section.bannersection .title span {
  font-family: "garamond-bold";
}
@media screen and (max-width: 991px) {
  main section.bannersection .container {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  main .pagetop {
    padding-top: 120px;
  }
}
main .timer {
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}
main .timer__inner {
  background-color: rgba(0, 0, 0, 0.53);
  padding: 44px 0px 54px 50px;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  main .timer__inner {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  main .timer__inner {
    padding: 29px 0px 41px 20px;
  }
}
main .timer__inner label {
  font-family: "GothamMedium";
  font-size: 6.36em;
  line-height: 1;
  color: #E9DDB8;
  letter-spacing: 4px;
}
@media screen and (max-width: 991px) {
  main .timer__inner label {
    font-size: 3.33em;
  }
}
@media screen and (max-width: 480px) {
  main .timer__inner label {
    font-size: 2.2em;
  }
}
main .timer__inner span {
  font-family: "GothamBook";
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
  padding-right: 65px;
}
@media screen and (max-width: 991px) {
  main .timer__inner span {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  main .timer__inner span {
    padding-right: 33px;
  }
}
main .timer__inner span.conjuction {
  font-family: "Gotham-XLight";
  font-size: 7.27em;
  color: #E8E8E8;
  padding: 0 15px;
}
@media screen and (max-width: 991px) {
  main .timer__inner span.conjuction {
    font-size: 2.56em;
  }
}
@media screen and (max-width: 480px) {
  main .timer__inner span.conjuction {
    padding: 0 5px;
  }
}
main .arrowdown-btn {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-size: 47px;
  display: block;
  margin: 0 auto;
  outline: none;
}
main .articlesection {
  margin: 54px 0 60px;
}
@media screen and (max-width: 991px) {
  main .articlesection {
    margin: 30px 0 0;
  }
}
@media screen and (min-width: 992px) {
  main .articlesection__row {
    margin: 0 -60px;
  }
  main .articlesection__row div[class^=col-] {
    padding: 0 60px;
  }
}

.article-box {
  margin-bottom: 70px;
}
@media screen and (max-width: 991px) {
  .article-box {
    margin-bottom: 50px;
  }
}
.article-box .title {
  font-family: "garamond-regular";
  font-size: 1.5em;
  text-transform: uppercase;
  border-top: 1px solid #E9DDB8;
  border-bottom: 1px solid #E9DDB8;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.article-box .title span {
  font-size: 0.75em;
  padding: 0 15px;
  position: relative;
}
.article-box .title span::before, .article-box .title span::after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #000000;
  left: 50%;
  position: absolute;
}
.article-box .title span::before {
  bottom: 100%;
}
.article-box .title span::after {
  top: 100%;
}
.article-box .card {
  border: 0;
  text-align: center;
}
.article-box .card .card-body {
  color: #434343;
  font-size: 1em;
  padding: 30px 0 0;
}
.article-box .card .card-body .btn {
  margin-top: 20px;
  font-family: "garmond-bold";
  font-size: 1em;
  line-height: 1;
}
.article-box .card:hover .btn .icon {
  animation: arrowanim 0.8s infinite;
}

@keyframes arrowanim {
  0% {
    margin-right: 0;
  }
  50% {
    margin-right: 10px;
  }
  100% {
    margin-right: 0;
  }
}
@media screen and (min-width: 1430px) {
  .container {
    max-width: 1398px;
  }
}

/*# sourceMappingURL=macallanlandingstyle.css.map */
