@import './mixin';
@import './variables';

@include font-face(garamond-regular, '../fonts/garamond-regular', ttf otf woff woff2);
@include font-face(garmond-bold, '../fonts/garmond-bold', ttf otf woff woff2);
@include font-face(GothamBook, '../fonts/GothamBook', ttf otf woff woff2);
@include font-face(GothamMedium, '../fonts/GothamMedium', ttf otf woff woff2);
@include font-face(Gotham-XLight, '../fonts/Gotham-XLight', ttf otf woff woff2);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Assistant', sans-serif;
    font-size: 22px;
    color: #434343;
    @media screen and (max-width: 991px) {
        font-size: 18px;
    }
}
.invisible {
    visibility: hidden;
}
.nopadding {
    padding: 0;
}
.head_cart {
    display: inline-flex;
    background-color: $theme-clr;
    @media screen and (max-width: 991px) {
        display: none;
    }
}
.checkbox-wrapper {
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    &__inner {
        position: relative;
        padding-right: 20px;
        display: inline-block;
        font-size: 16px;
        color: #434343;
        font-weight: 400;
        input {
            width: 14px;
            height: 14px;
            right: 0;
            position: absolute;
            opacity: 0;
            z-index: 11;
            &:checked {
                & + span {
                    &::after {
                        position: absolute;
                        content: '';
                        width: 6px;
                        height: 12px;
                        border-bottom: 2px solid #463e24;
                        border-right: 2px solid #463e24;
                        top: -3px;
                        left: 5px;
                        @include rotate(45deg);
                    }
                }
            }
        }
        span {
            width: 14px;
            height: 14px;
            right: 0;
            position: absolute;
            top: 5px;
            border: 1px solid #707070;
        }
    }
}
.centernav {
    position: relative;
    padding: 15px 50px;
    .owl-nav {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        top: 50%;
        left: 0;
        justify-content: space-between;
        @include translateY(-50%);
        button {
            background-color: transparent !important;
            outline: none !important;
            line-height: 0 !important;
            margin: 0 !important;
            span {
                font-size: 40px;
                font-weight: 600;
                color: #E9DDB8 !important;
            }
        }
    }
}

header {
    background-color: $white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    box-shadow: 0 0 20px 0 #ccc;
    @media screen and (min-width: 992px) {
        position: fixed;
        height: 120px;
    }
    .container {
        height: 100%;
    }
    .logoslide__mobile {
        @media screen and (min-width: 992px) {
            display: none !important;
        }
        .logomobile {
            img {
                max-width: 100%;
                display: block;
                margin: 0 auto;
                @media screen and (max-width: 480px) {
                    max-width: 70%;
                }
            }
        }
        &.innerpage {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .backtopage {
                font-size: 16px;
                color: #434343;
                a {
                    text-decoration: none;
                    color: inherit;
                    i {
                        margin-left: 5px;
                    }
                }
            }
            .logomobile {
                img {
                    margin-left: 0;
                }
            }
        }
    }
    .logoslide-desktop {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        @media screen and (max-width: 991px) {
            display: none;
        }
        img {
            max-width: 100%;
        }
        &__mid {
            width: 400px;
            display: flex;
        }
        .logoitem {
            padding: 0 25px;
            @media screen and (max-width: 1430px) {
                padding: 0 10px;
            }
        }
        &__left {
            .logoitem {
                // border-left: 1px solid #DEDEDE;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 30px;
                    left: 0;
                    top: 50%;
                    @include translateY(-50%);
                    background-color: #DEDEDE;
                }
                &:first-child {
                    &::before {
                        display: none;
                    }
                    padding-left: 0;
                }
                &:last-child {
                    &::after {
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 30px;
                        right: 0;
                        top: 50%;
                        @include translateY(-50%);
                        background-color: #DEDEDE;
                    }
                }
            }
        }
        &__right {
            .logoitem {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 30px;
                    left: 0;
                    top: 50%;
                    @include translateY(-50%);
                    background-color: #DEDEDE;
                }
                &:first-child {
                    &::before {
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 30px;
                        left: 0;
                        top: 50%;
                        @include translateY(-50%);
                        background-color: #DEDEDE;
                    }
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
        &__left, &__right {
            display: flex;
            flex: 1;
            align-items: center;
            img {
                max-height: 100%;
            }
        }
    }
}
.theme-btn {
    background-color: $theme-clr;
    color: $white;
    width: 100%;
    padding: 16px;
    border: 2px solid $white;
    box-shadow: 0 0 0 4px $theme-clr;
    border-radius: 0px;
    cursor: pointer;
    &.withtime {
        display: flex;
        justify-content: space-between;
    }
}


main {
    section {
        &.fullheight {
            height: 100vh;
            &::-webkit-scrollbar {
                display: none;
            }
            &.bannersection {
                .container {
                    position: relative;
                }
                @media screen and (max-width:991px) {
                    height: auto;
                }
            }
            &.singlepagesection {
                position: relative;
                @media screen and (min-width: 992px) {
                    overflow-y: hidden;
                    background-image: linear-gradient(to bottom, $theme-clr, $white);
                    div {
                        height: 100%;
                        img {
                            width: auto;
                            min-height: 100%;
                        }
                    }
                }
                @media screen and (max-width: 991px) {
                    .container {
                        max-width: 100% !important;
                        padding: 0;
                    }
                }
                .singlepagesection__wrapper {
                    width: 50%;
                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }
                    @media screen and (min-width: 992px) {
                        position: absolute;
                        left: 50%;
                        top: 120px;
                        height: calc(100% - 120px);
                    }
                }
                .singlepagesection__article {
                    width: 100%;
                    height: 100%;
                    padding: 28px 100px 28px 0px;
                    display: flex;
                    flex-direction: column;
                    @media screen and (max-width: 991px) {
                        width: 100%;
                        padding: 28px;
                        height: auto;
                        background-image: linear-gradient(to bottom, $theme-clr, $white);
                    }
                    &__header {
                        padding: 25px 0;
                        height: auto;
                        .title {
                            padding: 25px;
                            border-top: 1px solid #707070;
                            border-bottom: 1px solid #707070;
                            text-align: center;
                            font-family: 'Assistant', sans-serif;
                            font-weight: 700;
                            text-transform: uppercase;
                            font-size: 1.5em;
                            line-height: 1;
                        }
                    }
                    &__footer {
                        height: auto;
                        .title {
                            color: #434343;
                            font-family: 'Assistant', sans-serif;
                            font-weight: 700;
                            text-align: center;
                            position: relative;
                            margin: 23px 0;
                            font-size: 1.27em;
                            &::after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                background-color: $theme-clr;
                            }
                            span {
                                display: inline-block;
                                background: linear-gradient(to bottom, transparent, #fcfaf4, transparent);
                                padding: 0 35px;
                                position: relative;
                                z-index: 1;
                            }
                        }
                    }
                    &__content {
                        flex: 1;
                        background-color: $white;
                        border: 1px solid #E3E3E3;
                        padding: 25px 50px;
                        overflow-y: auto;
                        text-align: center;
                        @media screen and (max-width: 991px) {
                            max-height: 400px;
                        }
                        &::-webkit-scrollbar {
                            width: 12px;
                        }
                        &::-webkit-scrollbar-track {
                            border-radius: 12px;
                            box-shadow: inset 0 0 6px #ccc;
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: $theme-clr;
                            border-radius: 12px;
                            &:hover {
                                background-color: #ccc1a1;
                            }
                        }
                        aside {
                            &:nth-last-child(n+2) {
                                margin-bottom: 30px;
                            }
                            .title {
                                font-weight: 800;
                                font-size: 1.27em;
                                display: inline-block;
                                border-bottom: 1px solid $theme-clr;
                                padding: 10px 0 15px;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
                .singlepagecarousel {
                    position: relative;
                    .owl-dots {
                        position: absolute;
                        bottom: 10px;
                        height: auto;
                        left: 50%;
                        @include translateX(-50%);
                        .owl-dot {
                            outline: none;
                            span {
                                width: 14px;
                                height: 14px;
                                background-color: $white;
                            }
                            &.active {
                                span {
                                    background-color: $theme-clr;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.bannersection {
            padding-bottom: 55px;
            overflow-y: auto;
            background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./../images/bannerbg.png');
            .title {
                font-family: "garamond-regular";
                font-size: 3.63em;
                color: $white;
                line-height: 1.2;
                margin-top: 100px;
                margin-bottom: 50px;
                @media screen and (max-width: 991px) {
                    font-size: 2.22em;
                    padding: 0 30px;
                    line-height: 1.5;
                }
                span {
                    font-family: "garamond-bold";
                }
            }
            @media screen and (max-width: 991px) {
                .container {
                    padding: 0;
                }
            }
        }
    }
    .pagetop {
        @media screen and (min-width: 992px) {
            padding-top: 120px;
        }
    }
    .timer {
        text-align: center;
        justify-content: center;
        margin-bottom: 30px;
        &__inner {
            background-color: rgba($color: $black, $alpha: 53%);
            padding: 44px 0px 54px 50px;
            justify-content: center;
            @media screen and (max-width: 991px) {
                width: 100%;
            }
            @media screen and (max-width: 480px) {
                padding: 29px 0px 41px 20px;
            }
            label {
                font-family: "GothamMedium";
                font-size: 6.36em;
                line-height: 1;
                color: $theme-clr;
                letter-spacing: 4px;
                @media screen and (max-width: 991px) {
                    font-size: 3.33em;
                }
                @media screen and (max-width: 480px) {
                    font-size: 2.2em;
                }
            }
            span {
                font-family: "GothamBook";
                font-size: 20px;
                line-height: 1;
                color: $white;
                text-transform: uppercase;
                padding-right: 65px;
                @media screen and (max-width: 991px) {
                    font-size: 14px;
                }
                @media screen and (max-width: 480px) {
                    padding-right: 33px;
                }
                &.conjuction {
                    font-family: "Gotham-XLight";
                    font-size: 7.27em;
                    color: #E8E8E8;
                    padding: 0 15px;
                    @media screen and (max-width: 991px) {
                        font-size: 2.56em;
                    }
                    @media screen and (max-width: 480px) {
                        padding: 0 5px;
                    }
                }
            }
        }
    }
    .arrowdown-btn {
        background-color: transparent;
        border: 0;
        color: $white;
        font-size: 47px;
        display: block;
        margin: 0 auto;
        outline: none;
    }
    .articlesection {
        margin: 54px 0 60px;
        @media screen and (max-width: 991px) {
            margin: 30px 0 0;
        }
        &__row {
            @media screen and (min-width: 992px) {
                margin: 0 -60px;
                div[class^="col-"] {
                    padding: 0 60px;
                }
            }
        }
    }
}
.article-box {
    margin-bottom: 70px;
    @media screen and (max-width: 991px) {
        margin-bottom: 50px;
    }
    .title {
        font-family: "garamond-regular";
        font-size: 1.5em;
        text-transform: uppercase;
        border-top: 1px solid $theme-clr;
        border-bottom: 1px solid $theme-clr;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        span {
            font-size: 0.75em;
            padding: 0 15px;
            position: relative;
            &::before, &::after {
                content: '';
                width: 1px;
                height: 10px;
                background-color: $black;
                left: 50%;
                position: absolute;
            }
            &::before {
                bottom: 100%;
            }
            &::after {
                top: 100%;
            }
        }
    }
    .card {
        border: 0;
        text-align: center;
        .card-body {
            color: #434343;
            font-size: 1em;
            padding: 30px 0 0;
            .btn {
                @extend .theme-btn;
                margin-top: 20px;
                font-family: "garmond-bold";
                font-size: 1em;
                line-height: 1;
            }
        }
        &:hover {
            .btn {
                .icon {
                    animation: arrowanim 0.8s infinite;
                }
            }
        }
    }
}

@keyframes arrowanim {
    0% { margin-right: 0; }
    50% { margin-right: 10px; }
    100% { margin-right: 0; }
}

@media screen and (min-width: 1430px) {
    .container {
        max-width: 1398px;
    }
}